In [24]:
from datascience import *
import numpy as np

In [25]:
votes = Table.read_table("IRV_Assignment_DeCal.csv")
votes.show(5)

In [52]:
first_choice = votes.select("FirstChoice").group('FirstChoice').sort('count')
lowest_first = first_choice.column('count').item(0)
first_choice

FirstChoice | count
Lily        | 1218
Christina   | 1461
Carlos      | 1574
Tim         | 2832
Leslie      | 2915

In [55]:
second_choice = votes.where('FirstChoice', 'Lily')
second_choice.group('SecondChoice').sort('count')

SecondChoice | count
Christina    | 160
Carlos       | 204
Tim          | 400
Leslie       | 454

In [67]:
second_round = Table().with_column('Choices', ['Christina', 'Carlos', 'Tim', 'Leslie'], 'count', ['1621', '1778', '3232', '3369'])
second_round

Choices   | count
Christina | 1621
Carlos    | 1778
Tim       | 3232
Leslie    | 3369

In [71]:
third_choice = votes.where("SecondChoice", "Christina").where('FirstChoice', 'Lily').group('ThirdChoice').sort('count')
third_choice

ThirdChoice | count
Carlos      | 11
Tim         | 30
Leslie      | 119

In [73]:
third_round = Table().with_column('Choice', ['Carlos', 'Tim', 'Leslie'], 'count', ['1789', '3262', '3488'])
third_round

Choice | count
Carlos | 1789
Tim    | 3262
Leslie | 3488

In [76]:
fourth_choice = votes.where('ThirdChoice', 'Carlos').where("SecondChoice", "Christina").where('FirstChoice', 'Lily').group('FourthChoice').sort('count')
fourth_choice

FourthChoice | count
Leslie       | 4
Tim          | 7

In [77]:
fourth_round = Table().with_column('Choice',['Leslie', 'Tim'], 'count', ['3492', '3269'])
fourth_round

Choice | count
Leslie | 3492
Tim    | 3269

In [79]:
final_results = Table().with_column('Final Winner', ['Leslie'], 'Total Votes', ['3492'])
final_results

Final Winner | Total Votes
Leslie       | 3492